@font-face {
    font-family: 'Fonte';
    src: url('../Font/CONSOLA.TTF') format(trueType);
    font-weight: normal;
    font-style: normal;
}

:root {
    --backColor: #35374b;
    --blueColor: #406281;
    --yellowColor: #B8831C;
    --purpleColor: #72027C;
    --silverColor: #828282;
    --orangeColor: #BF620B;
    --greenColor: #1B521D;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: monospace;
    font-size: 1.3125rem;
    line-height: 1.6;
    height: 100vh auto;
    background-color: var(--backColor);
}

.main{

    display: grid;
    flex-direction: column;
    border: 2px dashed green;
    height: 100vh;
    place-items: center;
}


#helloWorld{
    opacity: 1;
    color: white;
}



#div_l {
    display: none;
}

.login{
    display: flex;
    flex-direction: column;
    color: white;
    border: 2px dashed green;
    height: max-content;
    align-items: center;
    width: 79vh;
}

.login .item-login{
    margin: 40px;
}

.login h4{
    font-size: 40px;
}

.login input{
    width: 80%;
    height: 3vh;
    background: none;
    border: 0;
    border-bottom: 3px solid #828282;
    text-align: center;
    outline:0;
    color: #828282; 
    font-size: 1em;
}




.login button{
    height: 30px;
    width: 100px;
    background: none;
    border: 3px solid #406281;
    padding: 2px;
    text-align: center;
    box-sizing: content-box;
    border-radius: 8px;
    color: white;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
}

.login button:hover{
    background-color: #406281;
    transition: background-color ease-in-out 0.3s;
}

.login p{
    font-size: 15px;
}

.login a{
    text-decoration: none;
    color: #406281;
    border-bottom: 1px solid #406281;
}