@font-face {
    font-family: 'Fonte';
    src: url('../Font/CONSOLA.TTF') format(trueType);
    font-weight: normal;
    font-style: normal;
}


/* Criando Variáveis de cor para poder ir mudando a paleta mais facilmente */
:root {
    --backgroundColor: #000000;
    --primaryColor: #406281;
    --secundaryColor: #B8831C;
    --terciaryColor: #72027C;
    --borderColor: #82828267;
    --fourColor: #BF620B;
    --fifthColor: #1B521D;
    --fontColor: rgb(233, 233, 233);
    --inverterPng-hover:invert(7%) sepia(63%) saturate(6633%) hue-rotate(296deg) brightness(112%) contrast(104%);
    --inverterPng:invert(43%) sepia(69%) saturate(479%) hue-rotate(1deg) brightness(106%) contrast(97%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Personalizando o scrool */
::-webkit-scrollbar {
    width: 0.3vw;
  }
  ::-webkit-scrollbar-track {
    scrollbar-color: none;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--terciaryColor); 
    border-radius: 10px;
  }


  body{
    font-family: monospace;
    font-size: 1.3125rem;
    line-height: 1.6;
    height: auto;
    background-color: var(--backgroundColor);
}

a{
  text-decoration: none;
  color: var(--fontColor);
}



#home{

  display: flex;
  height: 100%;
  width: 80vw;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10vw;
  margin-right: 10vw;
}

.navBar{
  color: var(--fontColor);
  font-size: 1.3rem;
  width: 13vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding-top: 10vh;
  border-left: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
  position: fixed;
  padding-bottom: 2vh;
  border-bottom-left-radius: 20px;
}

.navBar a {
  text-decoration: none;
  color: var(--fontColor);
}

.navBar #username{
  display: flex;
  place-items: center;
  font-size: 80%;
  flex-direction: row;
  margin-top: 5vh;
}

.navBar #username img{
  height: 5vh;
  width: 5vh;
  border-radius:50px;
  filter: var(--inverterPng);
  cursor: pointer;
  margin-right: 2vh;
}

.navBar #username img:hover{

  transform: none;
  border: 0;
  filter: var(--inverterPng-hover);
}

.navBar li {

  list-style: none;
  margin-top: 5vh;
  text-align: center;
  border-bottom: var(--fourColor) 4px solid;
  width: 100%;
  
}

.navBar #logo-img{
  height: 12vh;
  width: 12vh;  
  margin-left: 23%;
  margin-bottom: 1vh;
  /* iMAGENS */
  background: url(./Imagens/Logos/LOGO_LULLY_INTERPSRISES_SEM_LETRA.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navBar #logo_name {
  height: 7vh;
  width: 10vw;
  margin-bottom: 8vh;

  /* Imagens */
  background: url(./Imagens/Logos/SO_LETRA.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.navBar li button {
  height: 5vh;
  width: 100%;
  background-color: var(--fourColor);
  text-align: center;
  color: var(--fontColor);
  font-size: 60%;
  border: 0;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  padding-right: 1.5vw;
  padding-left: 1.5vw;
}

.navBar li:hover{
  border-bottom: var(--terciaryColor) 4px solid;
  cursor: pointer;
  transform: scaleX(95%);
  transition: all ease-in-out 0.1s;
  

}

.navBar li button:hover {
  background-color: var(--terciaryColor);
}


/* Painel do Usuário */
.painel {
  
  width: 56vw;
  height: auto;
  display: flex;
  flex-direction: column;
  border-right: var(--borderColor) 2px solid;
  margin-left: 26vh;
  border-left: 1px solid var(--borderColor);
}

/* Parte da aba de busca  */

.painel .search{
  height: 12vh;
  display: flex;
  margin-top: 7vh;
  justify-content: center;
  padding-top: 3vh;
  border-bottom: 1px solid var(--borderColor);
  
}

.painel .search input{

  height: 35%;
  width: 25%;
  text-align: center;
  background: none;
  border: 0;
  border-bottom: var(--fourColor) 3px solid;
  font-size: 100%;
  color: var(--fontColor);
  outline: 0;
  resize: none;
}

.painel .search input:hover, img:hover {
  border-bottom: var(--terciaryColor) 3px solid;
  
}



.painel .search img{
  height: 25px;
  width: 25px;
  margin-right: 1vw;
  filter: var(--inverterPng);
}

.painel .search img:hover{
  
  transform: none;
  border: 0;
}

/* Fim da aba de busca*/




/* Input do usuário */
.painel .user{

  display: flex;
  height: 17vh;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  

}

.painel .user #inp_text{
  height: 30%;
  text-align: center;
  width: 50%;
  font-size: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: var(--fourColor) 3px solid;
  color: var(--fontColor);
  outline: 0;

}

.painel .user #inp_text:hover{
  border-bottom: 3px solid var(--terciaryColor);
}


.painel .user img{
  height: 40px;
  width: 40px;
  filter: var(--inverterPng);
  margin-top: 2vh;
  cursor: pointer;
}

.painel .user img:hover{

  border: 0;
  transform: none;
  filter: var(--inverterPng-hover);
}



.painel .user button{
  height: 4vh;
  width: 13%;
  background-color: var(--fourColor);
  text-align: center;
  color: var(--fontColor);
  font-size: 80%;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  border: 0;

}

.painel .user button:hover {

  transform: scaleX(95%);
  transition: all ease-in-out 0.1s;
  background-color: var(--terciaryColor);
}

/* Começo da parte dos usuários */

.painel .usuarios {
  border-top: 1px solid var(--borderColor);
  height: max-content;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding-top: 5vh;
  color: white;
}

/* Configurações gerais dos posts / nome-post-feedback / */

.post {
  margin-top: 3vh;
  border: 2px solid var(--borderColor);
  width: 40vw;
  height: 60vh;
  border-radius: 10px;
  box-sizing: border-box;
}

/* Parte do nome e nacionalidade */
.usuarios .info-bar {
  border-bottom: 2px solid var(--fourColor);
  height: 17%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 2vh;
}

/* Colocando os usuario com fot e nacionaliade */
















.info-bar .user-foto{
  margin-top: 3px;
  height: 70%;
  width: 10%;
  border-radius: 5px;
  margin-left: 2vw;
  border: 2px solid var(--secundaryColor);

  /* Imagem  do user */ 
  background: url(./Imagens/Users/user-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info-bar #Pedro{
  margin-top: 3px;
  height: 70%;
  width: 10%;
  border-radius: 5px;
  margin-left: 3vw;
  border: 2px solid var(--secundaryColor);

  /* Imagem  do user */ 
  background: url(./Imagens/Users/user-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info-bar #Wilson {
  margin-top: 3px;
  height: 70%;
  width: 10%;
  border-radius: 5px;
  margin-left: 3vw;
  border: 2px solid var(--secundaryColor);

  /* Imagem  do user */ 
  background: url(./Imagens/Users/user-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info-bar #Vicenzo {
  margin-top: 3px;
  height: 70%;
  width: 10%;
  border-radius: 5px;
  margin-left: 3vw;
  border: 2px solid var(--secundaryColor);

  /* Imagem  do user */ 
  background: url(./Imagens/Users/user-4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info-bar #Hillary {
  margin-top: 3px;
  height: 70%;
  width: 10%;
  border-radius: 5px;
  margin-left: 3vw;
  border: 2px solid var(--secundaryColor);

  /* Imagem  do user */ 
  background: url(./Imagens/Users/user-5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info-bar #Indian {
  margin-top: 3px;
  height: 70%;
  width: 10%;
  border-radius: 5px;
  margin-left: 3vw;
  border: 2px solid var(--secundaryColor);

  /* Imagem  do user */ 
  background: url(./Imagens/Users/user-7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info-bar #Gabrielly {
  margin-top: 3px;
  height: 70%;
  width: 10%;
  border-radius: 5px;
  margin-left: 3vw;
  border: 2px solid var(--secundaryColor);

  /* Imagem  do user */ 
  background: url(./Imagens/Users/user-6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info-bar #fat {
  margin-top: 3px;
  height: 70%;
  width: 10%;
  border-radius: 5px;
  margin-left: 3vw;
  border: 2px solid var(--secundaryColor);

  /* Imagem  do user */ 
  background: url(./Imagens/Users/user-8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

















.info-bar .name-user{
  font-size: 80%;
  margin-left: 3%;
  margin-top: 3%;
}

.info-bar .add-user {
  filter: var(--inverterPng);
  height: 20px;
  width: 20px;
  margin-left: 2%;
  margin-top: 4.2%;
}

.info-bar .add-user:hover {
  border-bottom: none;
  cursor: pointer;
  transform: scaleX(95%);
  filter: var(--inverterPng-hover);
}

.info-bar img{
  height: 25px;
  width: 25px;
  margin-top: 4%;
  margin-left: 2%;
}

.info-bar .post-time {
  font-size: 60%;
  color: rgb(179, 179, 179);
  margin-left: 10%;
  margin-top: 4%;
}

/* Fim da parte do nome e nacionalidade */

/* Começo do post com imagem */

.usuarios .content{
  height: 60%;
  width: 60%;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  border: 1px solid var(--borderColor);
  border-radius: 3px;
}

.usuarios .post-msg{
  align-items: center;
  margin-left: 1%;
  font-size: 70%;
}















/* Iamgens de Post */

.usuarios .post-img{
  height: 80%;
  margin-top: 2%;
  background: url(./Imagens/posts-imagens/codding-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.usuarios  #WilsonFt 
{
  height: 80%;
  margin-top: 2%;
  background: url(./Imagens/posts-imagens/Willa-posrt.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.usuarios #PedroFt {
  height: 80%;
  margin-top: 2%;
  background: url(./Imagens/posts-imagens/estadio.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.usuarios #GabriellyFt {
  height: 80%;
  margin-top: 2%;
  background: url(./Imagens/posts-imagens/hostel.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

/* Arrumando status mdos feedbacks */

/*
.like {
  place-items: center;
  display: grid;
}


.comment {
  place-items: center;
  display: grid;
}

.share {
  place-items: center;
  display: grid;
}

.feedback  {
  display: none;
}

*/

























.usuarios .feedback{
 
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  height: 7%;
}


.usuarios .feedback button{
  background: none;
  border: 0;
}


.usuarios  .feedback img{
  height: 18px;
  filter: var(--inverterPng);
}

.feedback img:hover {
  border: 0;
  transform: none;
  filter: var(--inverterPng-hover);
  transition: all ease-in-out 0.2;
  cursor: pointer;
}


.timer{

  width:20vw;
  color: var(--fontColor);
  position: fixed;
  left: 80%;
  top: 10%;
}

.timer .titulo{

  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  justify-content: space-between;
  font-size: 90%;
}



.timer h1{

  font-size: 140%;
  margin-left: 25%;
}
.timer #cronometro{

  border: var(--fourColor) 1px solid ;
  color: var(--secundaryColor);
  margin-bottom: 10vh;
  padding: 5%;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.timer .paises{
  margin-bottom: 8%;
}

.timer .paises li{
  color: var(--fontColor);
  font-size: 80%;
  border: var(--borderColor) 1px solid;
  width: 12vw;
  list-style: none;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  margin-top: 1%;
}


.settings-panel {
  border: 1px solid var(--borderColor);
  height: 100vh;
  width: 60%;
  position: fixed;
  left: 23%;
}


.tituloSettings{
  
  color: var(--fontColor);
  display: flex;
  justify-content: center;
  margin-top: 7vh;
  height: auto;
  font-size: 30px;
  font-weight: bold;
  flex-direction: row;
}

.tituloSettings p{
  border-bottom: 1px solid var(--fourColor);
}

.inputs{

  color: var(--fontColor);
  width: 50%;
  font-size: 17px;
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  font-weight: 600;
  padding-top: 3vh;
  border-right: 1px solid var(--fourColor);
}

.inputs::before{
  content: 'Account';
  color: var(--fontColor);
  font-size: 30px;
  margin-bottom: 5vh;
  font-weight: bold;
  border-bottom: 2px solid var(--fourColor);
}

.inp_change{
  margin-bottom: 10%;
  margin-top: 1%;
  height: 4vh;
  background: none;
  border: var(--secundaryColor) 1px solid;
  border-radius: 3px;
  color: var(--fontColor);
  font-size: 15px;
  width: 55%;
  outline: none;
  text-align: center;
}

.inp_change:hover{
  border: var(--terciaryColor) 1px solid;
  
}

.btn{
  
  display: grid;
  place-items: center;
  height: auto;
}

.btn button{
  height: 5vh;
  width: 15%;
  background-color: var(--fourColor);
  text-align: center;
  color: var(--fontColor);
  font-size: 70%;
  border: 0;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 7%;

}

.btn button:hover{
  background-color: var(--terciaryColor);
}

.organizar {
  display: flex;
  flex-direction: row;
}

.countries {
  color: var(--fontColor);
  width: 50%;
  font-size: 17px;
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  font-weight: 600;
  padding-top: 3vh;
}

.countries::before{
  content: 'Countries';
  color: var(--fontColor);
  font-size: 30px;
  margin-bottom: 5vh;
  font-weight: bold;
  border-bottom: 2px solid var(--fourColor);
}

.countries button{
  height: 4vh;
  width: 20%;
  background: none;
  border: 2px solid rgb(199, 7, 7);
  color: var(--fontColor);
  font-size: 70%;
  border-radius: 4%;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  margin-top: 2%;
}

.countries button:hover{
  background-color: rgb(199, 7, 7);
  transition: all ease 0.3s;
}

.inp_change option{
  background-color: var(--backgroundColor);
  color: var(--fontColor);
  font-weight: bold;
}

#botoes {

  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

#botoes  button{
  height: 3vh;
  width: 8vw;
  background-color: var(--fourColor);
  text-align: center;
  color: var(--fontColor);
  font-size: 60%;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bolder;
}

#botoes button:hover{
  background-color: var(--terciaryColor);
  transition: all ease-in-out 0.1s;
}

#text_change{
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer; height: 2vh;
  color: #72027C;
}

.grafico {
  border: 2px solid var(--borderColor);
  width: 80%;
  margin-left: 10%;
}

#metricas{
  color: var(--fontColor);
  margin-top: 10%;
}

#legenda{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 2%;
}

#valor{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.medidas {
  border: 2px solid var(--fourColor);
  width: 30%;
}

.valores{
  width: 30%;
  border: 2px solid var(--primaryColor);
}

.paisVotado {
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  text-align: center;
}

#nomePais{

  border: 2px solid var(--fifthColor);
  width: 50%;
  margin-right: 5%;
}

#votoPais {
  border: 2px solid var(--terciaryColor);
  width: 50%;
}

#qntdVotos{
  margin-top: 5%;
  font-size: 20px;
}


